<div className="container">
  <div class="container_1">
    <div class="_header">
      <div class="_logo">
        <img class="logo" src="./assets/logo.png" /><img />
      </div>
      <div class="anchors">
        <a href="#" class="left_a">Products</a>
        <a href="#" class="left_a">Solution</a>
        <a href="#" class="left_a">Pricing</a>
        <button class="mid_b">Login</button>
        <button class="right_b">Get Started</button>
      </div>
    </div>
    <div class="eli_container">
      <div class="eligibility">
        <div class="calculator">
          <h4>Eligibility Calculator</h4>
        </div>
        <div class="eligibility_childs">
          <div class="m_income">
            <p>Monthly Income</p>
          </div>

          <h2 class="income_val">&#x20b9;{{ value }}</h2>
          <ngx-slider [(value)]="value" [options]="options"></ngx-slider>
          <div class="m_expense">
            <p>Monthly Expense</p>
          </div>
          <div class="expense_val">
            <!-- <h4>&#x20b9;{{ value2 }}</h4> -->
            <h4>&#x20b9;{{ value2 }}</h4>
          </div>
          <ngx-slider
            [(value)]="value2"
            [options]="option"
            class="custom_slider"
          ></ngx-slider>
          <div class="repay_time">
            <p>Repayment tanure</p>
            <ngx-select-dropdown [options]="dropdownOptions"
              >6 Months</ngx-select-dropdown
            >
          </div>

          <div class="tog_switch">
            <p>Do you have any existing loans?</p>
            <div class="ui_swtch">
              <p>
                <ui-switch checked size="small" color="#663399"></ui-switch>
              </p>
            </div>
          </div>
          <div class="loan">
            <p>EMI of existing lone(optional)</p>

            <input
              type="text"
              (keyup)="handleChange($event)"
              placeholder="15000"
            />
          </div>
        </div>
      </div>
      <div class="eli_right">
        <div class="loan_amt">
          <p>Loan Amount</p>
          <h3>&#x20b9;1,000,000</h3>
        </div>
        <div class="emi_amt">
          <p>Your EMI will be</p>
          <h3>&#x20b9; {{ inputVal }}</h3>
        </div>
        <button class="get_money">Get Money</button>
      </div>
    </div>
  </div>

  <div class="images">
    <div class="left_images">
      <img src="../assets/blob-small.svg" alt="" class="small_img" />
      <img src="../assets/collect_img-video.png" alt="" class="collect_img" />
      <img src="../assets/accounting_dots.svg" alt="" class="acc_dot1">
      <img src="../assets/accounting_dots.svg" alt="" class="acc_dot2">
    </div>
    <div class="right_images">
      <img src="./assets/circle.svg" alt="" class="circle_img" />
    </div>
  </div>
  <div class="container_2">
    <div class="container_2_in">
      <div *ngFor="let data of cardContent | slice: 0:3" class="left_section">
        <app-cards [card]="data" class="left_cards"> </app-cards>
      </div>
    </div>
    <div class="container_2_mid">
      <div *ngFor="let data of cardContent | slice: 3:4" class="left_section">
        <app-cards [card]="data" id="left_cards_colored"> </app-cards>
      </div>
      <div *ngFor="let data of cardContent | slice: 4:5" class="left_section">
        <app-cards [card]="data" class="left_cards"> </app-cards>
      </div>
    </div>

    <div class="right_section">
      <h1>
        Boost your business <br />
        with open
      </h1>
      <hr />
      <button class="last_b">Get an Open Account</button>
    </div>
  </div>
</div>
